$primary-blue: #70b5ff;
$light-blue: #b8e7ff;
$dark-blue: #034886;
$text-color:  #012d43d0;
$bg-color-nav: #a0d2fd;
$close-btn-color: red;
$description-color: rgb(163, 237, 255);
$futuristic-colors: purple, cyan, lime, magenta;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;