@import '../../../../../../styles/mixin';
@import '../../../../../../styles/variables';


.wraper{
	width: 40%;
	display: flex;
    justify-content: center;
	.wraperAlign {
		display: flex;
		width: fit-content;
		justify-content: space-evenly;
		flex-direction: column-reverse;
		align-items: center;
		.container {
			width: 100%;
			position: relative; 
			
			&:hover .pdf {
			  filter: blur(2px);
			}
			&:hover .zoom {
			  display: block;
			}
			.zoom {
			  display: none;
			  position: absolute;  
			  top: 50%;        
			  left: 50%;           
			  transform: translate(-50%, -50%); 
			  z-index: 1;          
			  .btnZoom{
				background: transparent;
				border: none;
				cursor: pointer;
			  }
			  svg {
				width: 3rem ;
				height: 3rem;
			  }
			}
			canvas {
				max-height: 20rem !important;				
				width: 100% !important;
				display: block;
			}
			
		  }
		
		
		.containerBtn {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
			button{
				border: none;
				background: transparent;
				cursor: pointer;
			}
			svg{
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}
	@include respond-to(desktop) {
	
	}

	@include respond-to(tablet) {
		width: 100%;
	
	}
	@include respond-to(mobile){
		.container{

			padding: 1rem;
			box-sizing: border-box;
			
		}
	}
	}
	

